html,
body {
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root,
.App {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}
.list-section {
    display: flex;
    height: 100%;
}
.list-section > div {
    border: 1px solid rgb(216, 222, 228);
    flex-basis: 50%;
}
.filter-section {
    display: flex;
}
.search-section {
    flex-grow: 1;
}
.filter-section > div {
    padding: 0.5rem;
}
.MuiPopperUnstyled-root {
    width: 300px;
}
